
html, body, #root, .react-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #555;
  font-size: 10px;
}

.centered {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

button {
  padding: 1rem 1.4rem;
  margin: 0 1.2rem;
  border: 0.35rem solid white;
  color: white;
  font-size: 20px;
}

button:focus {
  outline-color: rgba(100, 100, 100, 0.8);
  outline-style: dotted;
}

.pink {
  background-color: pink;
  color: white;
}

.gold {
  background-color: gold;
  color: #555;
}

.aqua {
  background-color: #a0d2db;
  color: white;
}